:root {
  /* colors */
  --color-full-black: #000000;
  --color-semi-black: #181818;
  --color-dark-gray: #5c5c5c;
  --color-light-gray: #c4c4c4;
  --color-off-white: #dfdfdf;
  --color-light-blue: #1468b6d5;
  --color-dark-blue: #002046d5;

  /* font family */
  --font-regular: 'Roboto-Regular', sans-serif;
  --font-light: 'Roboto-Light', sans-serif;
}

div#root {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hover-glow {
  transition: all 200ms ease-in-out;
}