header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: var(--color-full-black);
  color: var(--color-light-gray);
  height: 5rem;

  nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2rem;
    font-size: 1.325rem;

    li {
      text-align: center;

      a {
        transition: width 100ms ease-in-out;
        position: relative;
        letter-spacing: 0.05rem;

        display: inline-block;
        padding: 0.5rem 0;
        margin: 0.5rem 1rem;

        &::after {
          content: "";
          position: absolute;
          bottom: 10%;
          display: block;
          background: none repeat scroll 0 0 transparent;
          height: 1px;
          left: 50%;
          background: var(--color-light-blue);
          transition: width 200ms ease 0s, left 200ms ease 0s;
          width: 0;
        }

        &:hover,
        &.active {
          color: var(--color-light-blue);

          &::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }

    .topbar {
      visibility: visible;
      display: block;

      ul.navigation {
        display: flex;
        justify-content: flex-end;

      }
    }

    .sidebar {
      visibility: hidden;
      display: none;
    }
  }
}

@media only screen and (width <=800px) {
  header nav {
    .topbar {
      visibility: hidden;
      display: none;
    }

    .sidebar {
      visibility: visible;
      display: block;
      position: relative;

      button {
        border-radius: 50%;
        border-radius: 50%;
        border: 2px solid var(--color-semi-black);
        background-color: inherit;

        &:hover,
        &:focus {
          box-shadow: none;
        }

        &:hover {
          background-color: transparent;
        }

        .hamburger {
          background-image: url(../assets/img/svg/hamburger.svg);
          background-position: center;
          background-size: cover;
          width: 1rem;
          height: 1rem;
        }
      }

      ul.navigation {
        padding: 1rem 0.5rem;
        border-radius: 10px;
        background-color: var(--color-full-black);
        position: absolute;
        top: 50%;
        right: 100%;
        /* display: none; */
        display: flex;
        visibility: hidden;
        flex-direction: column;
        
        &.toggle {
          visibility: visible;
          /* display: flex; */
        }
      }

      .sidebar-overlay {
        /* display: none; */
        visibility: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;

        &.toggle {
          visibility: visible;
          /* display: block; */
        }
      }
    }
  }
}