@import url(./styles/fonts.css);
@import url(./styles/globals.css);
@import url(./styles/header.css);
@import url(./styles/footer.css);
@import url(./styles/inputs.css);
@import url(./styles/buttons.css);
@import url(./styles/contact.css);


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 100%;
  font-family: var(--font-regular);
  background-color: var(--color-semi-black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-off-white);
}

textarea {
  resize: none;
}

section#contact-wrapper,
section#projects,
section#home {
  color: var(--color-light-gray);
  height: 100%;
  /* max-width: 1200px;
  margin: auto; */
}