footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  margin-top: auto;
  width: 100%;

  ul {
    @include flex-center;
    li {
      list-style-type: none;

      a {
        @include hover-glow;
        font-size: 1.825rem;
        padding: 0.5rem;
        text-decoration: none;
        color: $text-secondary;

        &:hover {
          color: $blue-primary;
          text-shadow: 0 0 0 $blue-secondary, 0 0 0 $blue-primary, 0 0 40px $blue-secondary;
        }
      }
    }
  }

  p {
    user-select: none;
    color: $dark-primary;
  }
}