// theme colors
$all-black: #000;
$almost-black: #020202;
$dark-primary: #202020;
$dark-secondary: #1b1b1b;
$dark-tertiary: #2f2f2f;
$blue-primary: #0608928a;
$blue-secondary: #1174c58a;

// text colors
$text-primary: #eeeeee;
$text-secondary: #c4c4c4;

// gradients
$gradient-darkBlue: rgba(0,16,45,0.8085609243697479);


*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  font-size: 100%;
  background-color: $almost-black;
  color: $text-primary;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hover-glow {
  transition: all 0.2s ease-in-out;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}