.home {

	&-hero {
    height: calc(100vh - 80px);
		position: relative;
		color: $text-primary;
		text-shadow: 0 0 30px $almost-black;
		text-align: center;
		line-height: 5rem;
    padding-top: 40vh;
    transform-style: preserve-3d;

		&::after {
			content: '';
			background: url('../../../public/mountain.jpg') center fixed no-repeat;
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
      transform: translateZ(-1px);
		}

		h1 {
			text-transform: uppercase;
			letter-spacing: 0.625rem;
			font-size: 4rem;
		}

		h3 {
			letter-spacing: 0.425rem;
		}
	}

	&-description {
		width: 75%;
		padding: 1rem;
		margin: 0 auto;

		p {
			font-size: 1.5rem;
			text-align: justify;
		}
	}
}
